#!/usr/bin/make -f
export AUTOMAKE = automake --add-missing -Wno-portability
export LIBTOOLIZE = libtoolize --force

# Enable extended globbing in the shell to be able to use more
# sophisticated stuff in dh_install files
SHELL := /bin/bash -O extglob

FSMAJORVERSION = 5.1

%:
	dh $@ --with autoreconf

override_dh_auto_configure:
	dh_auto_configure -- \
		--prefix=/usr/lib/freesurfer-$(FSMAJORVERSION) \
		--disable-Werror \
		--with-cuda=no \
		--with-vxl-include=/usr \
		--with-tcl-include=/usr/include/tcl8.5 \
		--enable-tcltk-apps \
		--disable-static \
		--with-gnu-ld \
		--with-nifti-dir=/usr \
		--with-tiff-dir=/usr \
		--with-jpeg-dir=/usr \
		--with-expat-dir=/usr \
		--with-gl-dir=/usr \
		--with-cppunit-dir=/usr \
		--with-qt=/usr/bin \
		--with-vtk-dir=/usr \
		--with-vtk-include=/usr/include/vtk-5.6 \
		--with-kwwidgets-dir=/usr \
		--with-wxwidgets-dir=/usr \
		--with-itk-dir=/usr \
		--with-fltk-dir=/usr \
		CFLAGS="-I/usr/include/libxml2 -I/usr/include/GL" \
		LDFLAGS="-Wl,--allow-shlib-undefined"

override_dh_auto_build:
	# create fake data files that are part of the upstream source tree, but
	# come in a separate Debian package for space efficiency
	grep 'GEMS/data*' freesurfer-data.md5sums |cut -d ' ' -f 3,3| xargs touch
	grep 'talairach_avi/*' freesurfer-data.md5sums |cut -d ' ' -f 3,3 |xargs touch

	# Set up files which require modifying for FSMAJORVERSION
	sed "s@FSMAJORVERSION@${FSMAJORVERSION}@g" debian/freesurfer-FSMAJORVER.dirs.template    > debian/freesurfer-${FSMAJORVERSION}.dirs
	sed "s@FSMAJORVERSION@${FSMAJORVERSION}@g" debian/freesurfer-FSMAJORVER.install.template > debian/freesurfer-${FSMAJORVERSION}.install

	sed "s@FSMAJORVERSION@${FSMAJORVERSION}@g" debian/freesurfer_gui_app_wrapper.template    > debian/freesurfer_gui_app_wrapper

	sed "s@FSMAJORVERSION@${FSMAJORVERSION}@g" debian/desktop/scuba.desktop.template         > debian/desktop/scuba.desktop
	sed "s@FSMAJORVERSION@${FSMAJORVERSION}@g" debian/desktop/scuba2.desktop.template        > debian/desktop/scuba2.desktop

	sed "s@FSMAJORVERSION@${FSMAJORVERSION}@g" debian/freesurfer-FSMAJORVER.sh.template      > debian/freesurfer.sh

	dh_auto_build

override_dh_auto_test:
	: # none for now

override_dh_auto_clean:
	dh_auto_clean
	# get recreated by autoreconf
	find . -name Makefile.in -delete
	-rm aclocal.m4 config.h.in INSTALL
	-rm config/*
	# remove help headers
	for f in $$(find . -name '*.xml' ! -wholename '*debian*'); do \
		[ -f $${f}.h ] && rm $${f}.h || :; \
	done
	# remove fake data files
	-grep 'GEMS/data*' freesurfer-data.md5sums |cut -d ' ' -f 3,3| xargs rm
	-grep 'talairach_avi/*' freesurfer-data.md5sums |cut -d ' ' -f 3,3 |xargs rm

	# Remove files generated using FSMAJORVERSION
	rm -f debian/freesurfer-${FSMAJORVERSION}.dirs
	rm -f debian/freesurfer-${FSMAJORVERSION}.install
	rm -f debian/freesurfer_gui_app_wrapper
	rm -f debian/desktop/scuba.desktop
	rm -f debian/desktop/scuba2.desktop
	rm -f debian/freesurfer.sh

